#backgroundRed {
    background-color: rgb(102, 0, 0);
}
#backgroundBlue {
    background-color: rgb(21, 0, 141);
}
#backgroundGreen {
    background-color: rgb(0, 54, 0);
}
#backgroundYellow {
    background-color: rgb(80, 78, 0);
}
#backgroundPurple {
    background-color: rgb(51, 0, 80);
}
#backgroundWhite {
    background-color: rgb(255, 255, 255);
}

#mainDropdown{
    text-align: center;
    background-color: rgb(161, 150, 211);
    color: rgb(37, 3, 70);
    display: flex;
    flex-direction: column;
    width: clamp(96px, 166px, 218px);
    padding: 6px;
    gap: 6px;
    font-size: 1.3rem;
    position: absolute;
}


.dropdownOption {
    display: none;
    border: 0;
    font-size: 1rem;
    color: rgb(37, 3, 70);
}

.dropdownOption:hover {
    background-color: rgb(139, 63, 211);
}

.dropdownVisible {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

body {
    overflow: hidden;
}

.content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#imageSliderContainer {
    display: flex;
    height: 70vh;
    width: 70vh;
    overflow: hidden;

}

#imageSliderContainerHolder {
    height: 78vh;
    width: 80vh;

    align-self: center;
    justify-self: center;
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 5vh 1fr 5vh;
}

#navNumbersContainer {
    display: flex;
    justify-content: space-between;
    grid-column: span 3;
}

#backButton {
    height: 80vh;
    border: 0;
    font-size: 2.5rem;
    color: rgb(37, 3, 70);
    position: relative;
    left: 5vh;
    background-color: rgb(255, 255, 255, 0);
}
#nextButton {
    height: 80vh;
    border: 0;
    font-size: 2.5rem;
    color: rgb(37, 3, 70);
    position: relative;
    right: 5vh;
    background-color: rgb(255, 255, 255, 0);
}
.navNumberButton {
  height: 5vh;
  width: 5vh;
  border-radius: 3rem;
  border: 0;
  font-size: 1rem;
  color: rgb(37, 3, 70);
}

.navNumberButton:hover {
    background-color: rgb(161, 150, 211);
}

.sliderImage {
    display: none;
}

.visible {
    display: block;
}

#navNumbersContainer>.selectedNav {
    background-color: rgb(34, 0, 73);
    color: aliceblue;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0;
    }
    #imageSliderContainer {
        height: 80vw;
        width: 80vw;
        align-self: flex-start;
    }
    #mainDropdown {
        width: 128px;
    }

    #imageSliderContainerHolder {
        height: 82vw;
        width: 95vw;
        grid-template-columns: 7.5vw 1fr 7.5vw;
        margin-top: 10vh;
        align-self: center;
    }

    #backButton {
        height: 80vw;
        text-align: center;
        font-size: 1rem;
    }
    #nextButton {
        height: 80vw;
        text-align: center;
        font-size: 1rem;
    }
    .navNumberButton {
      height: 7.5vw;
      width: 7.5vw;
      border-radius: 3rem;
      border: 0;
      font-size: 0.8rem;
      text-align: center;
    }
}


